---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="404"
	description="The page you are looking for could not be found."
	><section class="col-center">
		<p>The page you are looking for could not be found!</p>
		<p></p>
	</section></Layout
>
