---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Changelog" description="A log of changes to the site">
    <ul class="card-container">
        <li>
            <h3>2024-11-22</h3>
            <ul>
                <li>
                    Changes: <ul>
                        <li>Updated site theme</li>
                        <li>
                            renamed /testing to <a
                                href="https://shoebox.alexrkeen.com">shoebox</a
                            > and moved it to its own subdomain
                        </li>
                        <li>
                            split /links into <a href="/blogroll">blogroll</a> and
                            <a href="/using">using</a>
                        </li>
                    </ul>
                </li>
                <li>
                    Additions: <ul>
                        <li><a href="/changelog">changelog</a></li>
                        <li><a href="/colophon">colophon</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</Layout>
