---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colophon" description="How the sausage is made.">
    <div class="col-center">
        This site is hand-coded in HTML, CSS and JS. It's built using a static
        site generator called <a href="https://astro.build">Astro</a>. Astro
        exports raw HTML and CSS with data-attributes for styling, which makes
        for a clean and fast site without loading any unnecessary JS. I mostly
        use it to keep the layout & navigation consistent across pages. It's
        typeset in <a href="https://github.com/usted/Albert-Sans">Albert Sans</a
        > with Stylistic Sets 01, 02 and 04 active.
    </div>
</Layout>
