---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colophon" description="How the sausage is made.">
    <div class="col-center">
        <p>This site is hand-coded in HTML, CSS and JS.</p>
        <p>
            It's built using a static site generator called <a
                href="https://astro.build">Astro</a
            >. Astro exports raw HTML and CSS with data-attributes for styling,
            which makes for a clean and fast site without loading any
            unnecessary JS. I mostly use it to keep the layout & navigation
            consistent across pages.
        </p>
        <p>
            It's typeset in <a href="https://github.com/usted/Albert-Sans"
                >Albert Sans</a
            > with Stylistic Sets 01, 02 and 04 active.
        </p>
        <p>The whole site is &copy; Alex R. Keen 2021&ndash;2024</p>
    </div></Layout
>
