---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Improv"
    description="Improv shows, organisations and events associated with the site owner.">
    <ul class="card-container">
        <li>
            <h3>Lying Together</h3>
            <div>
                <figure>
                    <img
                        src="images/lying-together-logo.jpg"
                        title="Lying Together"
                        alt="Lying Together logo"
                        class="left-img"
                    />
                </figure>
                <p>
                    An award-winning black comedy about sex and deception,
                    inspired by true anonymous confessions from the audience.
                    Created with
                    <a href="https://rachelethorn.com">Rachel E. Thorn</a>
                    and touring nationally.
                </p>
            </div>
            <a href="http://www.lyingtogether.co.uk/">Lying Together website</a>
        </li>

        <li>
            <h3>MATES: The Improvised &rsquo;90s Sitcom</h3>
            <figure>
                <img
                    src="images/MATES-logo.png"
                    title="MATES: The Improvised '90s Sitcom"
                    alt="MATES: The Improvised '90s Sitcom logo"
                />
            </figure>
            <p>
                A love letter to the sitcoms of the &rsquo;90s, which I created
                with Rachel E. Thorn and Hugh Clark. Awarded Best Improv Show at
                Edinburgh Fringe 2022 by Theatre Weekly.
            </p>
            <a href="https://matesimprov.com">MATES website</a>
        </li>
        <li>
            <h3>Joined at the Quip</h3>
            <figure>
                <img
                    src="images/JatQ-logo.jpg"
                    title="Joined at the Quip"
                    alt="Joined at the Quip logo"
                />
            </figure>
            <p>
                My improv duo with Bobby Anderson. We perform a variety of
                formats focusing on on characters and relationships, treading
                the line between heartfelt and hilarious.
            </p>
        </li>
        <li>
            <h3>St&uuml;rike!</h3>
            <div>
                <figure>
                    <img
                        src="images/sturike-logo.png"
                        title="Stürike Comedy"
                        alt="Stürike Comedy logo"
                    />
                </figure>
                <p>
                    A multi-disciplinary comedy collective, currently developing
                    longform improv shows in Sheffield. I’m a founding member
                    and coach the group's improv troupe with Bobby Anderson.
                </p>
            </div>
            <a href="https://sturike.com">St&uuml;rike! website</a>
        </li>
        <li>
            <h3>The British Improv Project</h3>
            <figure>
                <img
                    src="images/BIP-logo.jpg"
                    title="British Improv Project"
                    alt="British Improv Project logo"
                />
            </figure>
            <p>
                A cooperative nonprofit organisation which runs biannual improv
                workshop weekends. I’m a founding member of the organisation’s
                welfare team, frequently teach workshops and led the 2021
                rebrand.
            </p>
            <a href="http://britishimprovproject.com">BIP website</a>
        </li>
        <li>
            <h3>The Sheffield Improv Jam</h3>
            <figure>
                <img
                    src="images/SIJ-logo.png"
                    title="The Sheffield Improv Jam"
                    alt="Sheffield Improv Jam logo"
                    class="left-img"
                />
            </figure>
            <p>
                The heart of the improv scene in Sheffield. I founded and host
                the event with Bobby Anderson.
            </p>
            <a href="https://www.meetup.com/Sheffield-Improv-Meetup/"
                >Sheffield Improv Jam on Meetup.com</a
            >
        </li>
    </ul>
</Layout>
