---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Alex Keen"
	description="The homepage of Alex Keen, an improviser, marketeer and designer based in Sheffield, South Yorkshire, UK.">
	<div id="hero">
		<div>
			<img
				src="/images/canoe-1x1.jpg"
				alt="A man sat in a canoe, looking to the right"
			/>
			<p>Hi, I'm Alex. Welcome to my homepage.</p>
			<p>
				<strong>I’m a nerd about</strong> stories, improvisation, design,
				philosophy, psychology, creativity and play, based in Sheffield,
				England.
			</p>
			<p>
				Learn more <a href="/about">about me</a> or see things I've done
				and things I recommend below.
			</p>
		</div>
	</div>
	<section class="col-center">
		<nav>
			<ul>
				<li>
					<h2>Works</h2>
					<ul>
						<li><a href="/improv">improv</a></li>
						<li><a href="/writing">writing</a></li>
						<li><a href="/games">games</a></li>
						<li>
							<a href="/shoebox">shoebox</a>
						</li>
					</ul>
				</li>
				<li>
					<h2>Recommendations</h2>
					<ul>
						<li><a href="/blogroll">blogroll</a></li>
						<li><a href="/using">using</a></li>
					</ul>
				</li>
				<li>
					<h2>Meta</h2>
					<ul>
						<li><a href="/about">about</a></li>
						<li><a href="/changelog">changelog</a></li>
						<li><a href="/colophon">colophon</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</section>
</Layout>
<style>
	#hero {
		grid-column: breakout;
		padding-block: 3rem;
		font-size: 1.2rem;
	}
	nav ul {
		list-style-type: none;
		padding-inline-start: 0;
	}

	nav ul ul {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
	}
</style>
