---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Alex Keen"
    description="The homepage of Alex R. Keen, Sheffield, UK-based improviser, marketeer and designer of various stripes.">
    <div class="col-center">
        <figure id="profile-container">
            <img
                id="profile"
                src="images/profile_2x3.webp"
                title="I'm Alex. I tell stories."
                alt="Alex Keen leaning against a brick wall."
            />
            <figcaption><em>I’m Alex. I tell stories.</em></figcaption>
        </figure>
        <p>Hi, I&#39;m Alex.</p>
        <p>I’m a storytelling, marketing and design nerd.</p>
        <p>
            During office hours, I’m the Marketing &amp; Communications Manager
            for <a href="https://www.ferrio.com">Ferrio</a>, the API integration
            and software automation specialists.
        </p>
        <p>
            In my free time, I’m an improviser, writer, tabletop roleplaying
            game designer and self-taught graphic designer and web developer. I
            also read a lot.
        </p>
        <p>
            I live in Sheffield, England with my husband, who <a
                href="https://www.loxleywoodcraft.com/"
                >makes beautiful things from wood</a
            >. No pets or children, thank you.
        </p>
        <p>
            I don’t like social media. If you want to get in touch with me, <a
                href="mailto:anti-spam-measure-delete-me/alexrkeen@gmx.com?subject=EDIT EMAIL ADDRESS AND SUBJECT LINE"
                >just send me an email</a
            >.
        </p>
    </div>

    <style></style>
</Layout>
