---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="Reaching for Light"
	description="About that time I made a documentary">
	<main class="col-center">
		<p
			>In 2023, while working as Head of Marketing at <a
				href="https://www.sentintospace.com"
				rel="noopener noreferrer"
				target="_blank"
				>Sent Into Space</a
			>, I collaborated with a small team of colleagues to pitch for and
			win the first <a
				href="https://artlist.io/blog/100kfund/"
				rel="noopener noreferrer"
				target="_blank"
				>Artlist $100K Fund</a
			>.
		</p><p
			>Our proposal: an adventure documentary, recording Sent Into Space's
			attempt to film the Northern Lights from closer than ever before
			using cutting-edge 360° camera technology and stratospheric
			balloons.
		</p><p>
			<a
				href="https://www.reachingforlightfilm.com"
				rel="noopener noreferrer"
				target="_blank"
				>Reaching for Light</a
			> was shot throughout 2024. I wrote the script and co-directed the film
			with Matt Lanning and <a
				href="https://evayap.uk"
				rel="noopener noreferrer"
				target="_blank"
				>Eva Yap</a
			>, as well as appearing as a key protagonist. It premiered at <a
				href="https://raindance.org/festival/"
				rel="noopener noreferrer"
				target="_blank"
				>Raindance Film Festival</a
			> in 2025, where it was nominated for Best Cinematography (for which all
			credit goes to Eva).</p
		>
		<iframe
			title="vimeo-player"
			src="https://player.vimeo.com/video/1064722753?h=6832615fe5"
			width="640"
			height="360"
			frameborder="0"
			referrerpolicy="strict-origin-when-cross-origin"
			allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share"
			allowfullscreen
		></iframe>
		<style>
			iframe {
				inline-size: 100%;
			}
		</style>
	</main>
</Layout>
