---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Uses"
    description="A breakdown of the tools I use, including my self-hosting server setup.">
    <main class="col-center">
        <p>
            Here’s a list of the software I use on a near-daily basis. I prefer <abbr
                >FOSS</abbr
            > (Free and Open Source Software) where possible, or software with permissive
            lifetime licensing.
        </p>
        <ul>
            <li>
                <strong>Browser:</strong>
                <a href="https://vivaldi.com/">Vivaldi</a>. Privacy-respecting,
                feature-heavy, fast Chromium-based browser. Freeware, 95%
                open-source (the remaining 5% is UI and brand identity).
            </li>
            <li>
                <strong>Email client:</strong>
                <a href="https://www.thunderbird.net/en-GB/">Thunderbird</a>.
                FOSS.
            </li>
            <li>
                <strong>Text editor:</strong>
                <a href="https://typora.io/">Typora</a>. Writes in
                Github-Flavoured Markdown, exports almost seamlessly to .html,
                .doc and .pdf with the help of (open-source) <a
                    href="https://pandoc.org/">Pandoc</a
                >. One-time payment for a lifetime license.
            </li>
            <li>
                <strong>Code editor:</strong>
                <a href="https://code.visualstudio.com/">VS Code</a>. Freeware.
            </li>
            <li>
                <strong>Static Site Generator:</strong>
                <a href="https://astro.build">Astro</a>. Permissive MIT License.
                See <a href="/colophon">colophon</a> for more details.
            </li>
            <li>
                <strong>Graphic design &amp; publishing:</strong> I use the fantastic
                <a href="https://affinity.serif.com/en-gb/"
                    >Affinity Suite by Serif</a
                >. It’s a one-time payment for a lifetime license to Publisher,
                Photo and Illustrator software that rivals Adobe.
            </li>
            <li>
                <strong>Video editing:</strong>
                <a
                    href="https://www.blackmagicdesign.com/products/davinciresolve/"
                    >DaVinci Resolve</a
                >. Freeware.
            </li>
            <li>
                <strong>Audio editing:</strong>
                <a href="https://www.audacityteam.org/">Audacity</a>. FOSS.
            </li>
        </ul>
        <h2>Self Hosted Software</h2>
        <p>
            I have a little computer in my house (a Raspberry Pi 4), connected
            to the internet and running an operating system called <a
                href="https://yunohost.org">YunoHost</a
            >, with a collection of web services that replace things you might
            use every day, like a search engine, or a cloud storage platform to
            backup and sync files on your computer.
        </p>
        <p>
            Why bother? For one thing, it saves me money — I don’t have to pay
            Google for extra Google Drive storage if I’m hosting it myself. It
            also protects my privacy. Hosting my own search engine means
            Microsoft can’t track the websites I visit and use them to target
            ads at me.
        </p>
        <p>
            But most importantly (to me), it means I’m in control of the tools I
            use. Amazon can’t delete an e-book from my account halfway through
            me reading it; Netflix can’t take my favourite show off my own
            streaming service. If there’s an update to a piece of software that
            breaks one of my workflows, I get to decide whether I install that
            update or not.
        </p>
        <p>
            If you’re interested in learning more, or taking any of these
            services for a spin, email me and I’ll create you an account, for
            free. Here’s what I’m running at the moment:
        </p>
        <ul>
            <li>
                <strong>Search Engine:</strong>
                <a href="https://github.com/searxng/searxng">SearXNG</a>.
                Metasearch engine which aggregates results from 70+ other search
                providers. Gives great results with no ads, no tracking and no
                AI.
            </li>
            <li>
                <strong>File Syncing:</strong>
                <a href="https://syncthing.net">Syncthing</a>. Like Dropbox or
                Google Drive, but without size limits (besides the server
                storage capacity) and no tracking.
            </li>
            <li>
                <strong>RSS reader:</strong>
                <a href="https://freshrss.org/">FreshRSS</a>. I follow 100+
                blogs, comics and serialised web stories through this. If you’re
                not familiar with RSS, imagine your podcast feed, but for
                articles!
            </li>
            <li>
                <strong>Recipes:</strong>
                <a href="https://tandoor.dev">Tandoor</a>. Has decent import
                functionality, so you can skip the SEO-bait essay that precedes
                the recipe on every blog nowadays.
            </li>
            <li>
                <strong>E-book library &amp; reader:</strong>
                <a href="https://www.kavitareader.com">Kavita</a>. Looking for a
                better alternative as the reading UI is pretty awful.
            </li>
            <li>
                <strong>PKM:</strong>
                <a href="https://silverbullet.md">SilverBullet</a>. Primarily
                useful for making short notes on my phone.
            </li>
        </ul>
    </main>
</Layout>
