:root {
    --bg-color: hsl(286 21% 5%);
    --mg-color: hsl(286 21% 12%);
    --text-color: hsl(38 24% 78%);
    --h-color: hsl(38 57% 60%);
    --accent-color: hsl(349 52% 64%);
}

/* font & base colour settings */
html {
    font-size: clamp(1rem, 0.8rem + 1vi, 1.25rem);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    line-height: 1.1;
    background-color: var(--bg-color);
    color: var(--text-color);
    box-sizing: border-box;
}

body {
    scrollbar-gutter: stable both-edges;
    margin-block: 0;
}

/* box-sizing fix */
*:not(img),
*:before,
*:after {
    box-sizing: inherit;
}

/* layout */

main,
article {
    -webkit-margin-before: clamp(1rem, 2vh, 3rem);
    margin-block-start: clamp(1rem, 2vh, 3rem);
    -webkit-margin-after: 6rem;
    margin-block-end: 6rem;
    margin-inline: auto;
    max-inline-size: 100ch;
    padding: 0rem 1rem;
    font-weight: 400;
    grid-column: 2 / 3;
}

.flex {
    margin: 2em auto;
    inline-size: calc(100% - 4rem);
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    justify-content: space-around;
}

.flex.btn-flex {
    flex-basis: 100%;
}

/* elements */

fieldset {
    background: var(--mg-color);
    border: thin dashed var(--h-color);
}

h1 {
    text-align: center;
}

button {
    border: thin solid currentColor;
    border-radius: 5px;
    padding: 0.5ch 1ch;
    background: oklch(6% 0.01 1);
    font-size: 1em;
    color: inherit;
}

.output {
    margin-block: 1rem;
    text-align: center;
    font-size: 1.5em;
    font-weight: 250;
    line-height: 1;
}

.listless {
    list-style-type: none;
    padding-inline-start: 0;
}

#player-list {
    & li {
        display: flex;
        gap: 1ch;
        justify-content: space-between;
        align-items: center;
        border-block-end: thin dashed pink;
        /* outline: thin dotted pink; */
    }

    & input:checked + label {
        text-decoration: line-through;
    }

    & li button {
        border: 0;
        background: 0;
        color: red;
    }
}
