---
const { id, _xmlUrl, _htmlUrl, _description } = Astro.props;
---

<ul class="card-container">
    <li>
        <h3>{id}</h3>
        {_description ? <p>{_description}</p> : ""}
        <a href={_xmlUrl}>Site</a>
        <a href={_htmlUrl}>Feed</a>
    </li>1
</ul>
