---
let url = Astro.url.pathname;
type Crumb = {
	url: string;
	label: string;
};
// split url into individual strings
const split = url.split('/').slice(1);

// take an array, for each element in the array, add /[string] to a new string and return the new string
// e.g. ["foo", "bar"] should return /foo/bar
function concat(array: Array<string>) {
	let str = '';
	array.forEach((substr) => {
		if (substr == '') return;
		str += '/' + substr;
	});
	return str;
}

const links: Array<Crumb> = [];
// for each string in the split, create a copy of the split that goes that level deep, then concatenate it
split.forEach((string) => {
	if (string == '/') return;
	const index = split.indexOf(string) + 1;
	const resplit = split.slice(0, index);
	links.push({ url: concat(resplit), label: string });
});
console.log(links);
---

<nav class="col-wide">
	<ul>
		<li><a href="/">alexrkeen</a></li>
		{
			url != '/' ?
				links.map((link) => (
					<li>
						<a href={link.url}>{link.label}</a>
					</li>
				))
			:	''
		}
	</ul>
</nav>
<!-- <script>
	const links: NodeListOf<HTMLAnchorElement> =
		document.querySelectorAll('nav a');
	links.forEach((link) => {
		if (link.textContent == '') link.parentElement?.remove();
	});
</script> -->
<style>
	nav {
		/* overflow-x: scroll; */
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		/* overflow-x: scroll; */
		list-style-type: none;
		gap: 5px;
		padding-inline-start: 0;
		margin-block: 5px;
	}
	li {
		inline-size: max-content;
		flex-shrink: 0;
		line-height: 1;
	}
	li:has(a)::before {
		content: '/';
		/* padding-inline-end: 0.2rem; */
		color: var(--h-color);
		font-weight: bold;
	}
</style>
