---
import Layout from '../../layouts/Layout.astro';
---

<Layout
	title="Clock"
	description="A cool clock"
	noFooter>
	<style>
		@property --hour {
			syntax: '<number>';
			initial-value: 0;
			inherits: true;
		}
		@property --minute {
			syntax: '<number>';
			initial-value: 0;
			inherits: true;
		}
		@property --second {
			syntax: '<number>';
			initial-value: 0;
			inherits: true;
		}

		#clock {
			--saturation: 75;
			--lightness: 75;
			--hourDegs: calc(var(--hour, 0) * 30);
			--minuteDegs: calc(var(--minute, 0) * 6);
			margin-inline: auto;
			margin-block: 5rem;
			block-size: min(30rem, 90vmin);
			aspect-ratio: 1;
			border-radius: 100%;
			border: thin solid gray;
			background: hsl(0 0 100 / 0.5);
			display: grid;
			place-items: center;
			grid-template-areas: 'main';
			will-change: contents;
			* {
				grid-area: 1/1;
				aspect-ratio: inherit;
				border-radius: inherit;
			}
		}

		#hour {
			block-size: 50%;
			background: conic-gradient(
				from calc(var(--hourDegs) * 1deg),
				hsl(var(--hourDegs) var(--saturation) var(--lightness) / 0) 50%,
				hsl(var(--hourDegs) var(--saturation) var(--lightness))
			);
		}

		#minute {
			block-size: 95%;
			background: conic-gradient(
				from calc(var(--minuteDegs) * 1deg),
				hsl(var(--minuteDegs) var(--saturation) var(--lightness) / 0)
					50%,
				hsl(var(--minuteDegs) var(--saturation) var(--lightness))
			);
		}

		#second {
			border-radius: none;
			block-size: 100%;
			background: linear-gradient(
				to right,
				transparent calc(50% - 0.5px),
				hsl(0 0 0) 0 calc(50% + 0.5px),
				transparent calc(50% + 0.5px)
			);
			mask-image: linear-gradient(black 50%, transparent 50%);
			transform: rotate(calc(var(--second, 0) * 6deg));
		}

		#center-spot {
			block-size: 10%;
			background-image:
				url('/images/favicon.svg'),
				linear-gradient(hsl(0 0 0), hsl(0 0 0));
			z-index: 10;
		}
	</style>
	<main class="col-center">
		<div id="clock">
			<div id="minute"></div>
			<div id="hour"></div>
			<div id="second"></div>
			<div id="center-spot"></div>
		</div>
	</main>
	<script is:inline>
		const clock = document.querySelector('#clock');
		function updateClock() {
			const moment = new Date();
			console.log(moment);
			const minute = moment.getMinutes();
			const hour = moment.getHours();
			const second = moment.getSeconds();
			clock.style.setProperty('--hour', hour);
			clock.style.setProperty('--minute', minute);
			clock.style.setProperty('--second', second);
		}

		updateClock();
		setInterval(updateClock, 500);
	</script>
</Layout>
