---
import Nav from '../components/Nav.astro';
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<title>
			{title == 'Alex Keen' ? title : `${title} | Alex Keen`}
		</title>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content={description}
		/>
		<meta
			name="viewport"
			content="width=device-width,"
		/>
		<link
			rel="icon"
			href="/images/favicon.svg"
			type="image/svg+xml"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
	</head>
	<body>
		<Nav />
		<h1>{title}</h1>
		<slot />
		<footer>
			<a
				href="#"
				title="top">
				<span class="visually-hidden">Go to top</span>
				<img
					src="/images/favicon.svg"
					alt="A monogram of the letters A K in a circle"
				/>
			</a>
		</footer>
		<style is:global>
			@layer reset {
				/* RESET */

				html {
					box-sizing: border-box;
					transition-behavior: allow-discrete;
					interpolate-size: allow-keywords;
					font-size: 120%;
				}

				*:not(img),
				*:before,
				*:after {
					box-sizing: inherit;
				}

				input,
				button,
				textarea,
				select {
					font: inherit;
				}

				img,
				picture,
				video,
				canvas,
				svg {
					display: block;
					max-inline-size: 100%;
					margin-inline: auto;
				}

				p,
				h2,
				h3,
				h4,
				h5,
				h6,
				img {
					margin-block-start: 1em;
					scroll-margin-block-start: 5rem;
				}

				h1,
				h2,
				h3,
				h4,
				h5,
				h6,
				p,
				ul,
				ol,
				li,
				blockquote,
				table {
					line-height: calc(1em + 0.4rem);
					text-wrap: pretty;
				}
			}
			@view-transition {
				navigation: auto;
			}
			@font-face {
				font-family: 'Crimson Pro';
				src: url('/fonts/CrimsonPro-VariableFont_wght.ttf');
				font-style: normal;
				font-weight: 100 900;
			}
			@font-face {
				font-family: 'Crimson Pro';
				src: url('/fonts/CrimsonPro-Italic-VariableFont_wght.ttf');
				font-style: italic;
				font-weight: 100 900;
			}
			/* GLOBAL VARIABLES */

			:root {
				--bg-color: hsl(63 57 88);
				--text-color: hsl(8 12 5);
				--mg-color: hsl(78 51 80);
				--h-color: hsl(359 57 40);
				--accent-color: hsl(142 34 31);
			}

			/* TYPOGRAPHY */

			html {
				font-size: clamp(1.25rem, 1.1477rem + 0.4545vw, 1.5rem);
				font-family:
					'Albert Sans',
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					'Segoe UI',
					Roboto,
					Oxygen,
					Ubuntu,
					Cantarell,
					'Open Sans',
					'Helvetica Neue',
					sans-serif;
				font-family: 'Crimson Pro', 'Garamond', Georgia, Times,
					'Times New Roman', serif;
				background-color: var(--bg-color);
				color: var(--text-color);
				font-feature-settings: 'ss01', 'ss02', 'ss04';
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: var(--h-color);
			}

			h1 {
				font-weight: 900;
				font-size: 2.5em;
				text-transform: uppercase;
				background: var(--accent-color);
				color: var(--bg-color);
				text-shadow: -4px 0px var(--h-color);
				margin-block: 0;
				grid-column: full-bleed;
				text-align: center;
			}

			/* LAYOUT */

			body {
				display: grid;
				grid-template-columns:
					[full-bleed-start] 1rem
					[wide-start] 1fr
					[breakout-start] 1fr
					[center-start] min(calc(100% - 1rem), 70ch) [center-end]
					1fr [breakout-end]
					1fr [wide-end]
					1rem [full-bleed-end];
				margin: 0;
				margin-block-end: 4rem;
				scrollbar-gutter: stable both-edges;
			}

			:where(body):where(> *) {
				grid-column: center;
			}

			.col-center {
				grid-column: center;
			}

			.col-breakout {
				grid-column: breakout;
			}

			.col-wide {
				grid-column: wide;
			}

			header,
			footer,
			#hero-section,
			.full-bleed {
				grid-column: full-bleed;
			}

			main,
			section {
				margin-block: 1rem;
				clear: both;
				/* display: grid;
				grid-template-columns: subgrid; */
			}

			/* CARDS */

			ul.card-container {
				display: flex;
				inline-size: 100%;
				gap: 1ch;
				flex-wrap: wrap;
				justify-content: center;
				grid-column: wide;
				padding-inline-start: 0;
			}

			.card-container > li {
				flex: 1 1 35ch;
				max-inline-size: 45ch;
				background: var(--mg-color);
				padding: 1rem;
				border-radius: 1ch;
				list-style-type: none;
			}

			.card-container > li > *:first-child {
				margin-block-start: 0;
			}
			.card-container > li > *:last-child {
				margin-block-end: 0;
			}

			.card-container li a {
				clear: both;
			}
			/* internal/external link styles */
			a {
				color: var(--accent-color);
				text-decoration: underline solid var(--accent-color) 1px;
			}

			a[href^='http']::after {
				content: '\00A0\2197';
			}

			a[href^='mailto']::after {
				content: '\00A0\2709';
			}

			a::before,
			a::after {
				color: var(--h-color);
				font-weight: bold;
			}

			/* IMAGES & FIGURES */

			img {
				display: block;
				margin: 0;
				border-radius: 10px;
				float: left;
				margin-inline-end: 1em;
				inline-size: clamp(8rem, 25%, 15rem);
			}

			/* blockquotes */

			blockquote,
			figure:has(blockquote) {
				padding: 1rem;
				-webkit-border-start: thin solid var(--accent-color);
				border-inline-start: thin solid var(--accent-color);
				font-weight: 300;
				margin-inline: 0;
				margin-block: 1rem;
			}

			figure blockquote {
				all: unset;
				display: block;
				padding: 0.5rem 1rem;
			}

			cite {
				display: block;
				/* text-align: right; */
				padding-inline: 1rem;
				color: var(--h-color);
				font-size: 1.2em;
				margin: 0;
				text-wrap: pretty;
			}

			cite::before {
				content: '— ';
			}

			/* button */

			button {
				margin: 0.5em auto;
				padding: 0.5em 1em;
				background-color: var(--mg-color);
				border: 1px solid var(--accent-color);
				border-radius: 10px;
				color: var(--accent-color);
				font-family: inherit;
				font-size: 1.2em;
				text-align: center;
				text-decoration: none;
				display: block;
				transition: 0.2s;
			}

			button:hover {
				border: 1px solid var(--h-color);
				color: var(--h-color);
			}

			button:active {
				box-shadow:
					inset 0px 3px 5px -1px hsla(0, 0%, 0%, 0.4),
					inset 0px 6px 10px 0px hsla(0, 0%, 0%, 0.28),
					inset 0px 1px 18px 0px hsla(0, 0%, 0%, 0.24);
			}
			/* details + summary */

			summary h2,
			summary h3 {
				display: inline;
				border-block-end: none;
			}

			summary:has(h2) {
				position: sticky;
				border-block-end: 2px dashed var(--accent-color);
				inset-block-start: 0;
				margin-block-end: 1ch;
				background: var(--bg-color);
				padding: 0.2rem;
				z-index: 1;
			}

			/* return to top link */
			footer {
				inline-size: 100%;
				grid-column: center;
				padding-block: 5rem 3rem;
				display: grid;
				place-items: center;
			}

			footer img {
				margin: 0;
				background: 0;
				inline-size: 4rem;
				float: unset;
				padding: 0;
			}
			@media (prefers-reduced-motion: no-preference) {
				footer img {
					animation: bob ease-in-out infinite 3s;
				}
				@keyframes bob {
					50% {
						transform: translateY(-1em);
					}
				}
			}

			/* utilities */

			.visually-hidden {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				white-space: nowrap;
				width: 1px;
			}
		</style>
	</body>
</html>
